<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Parcial Dos</title>
</head>
<body>
    <h1>Bienvenidos al Himlaya!!!!</h1>
    <a href=""><button></button></a>
    <a href=""><button></button></a>
    <a href=""><button></button></a>
</body>
</html>