<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mike</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Mike Wazonski</h1>
    <img src="../public/img/Mike1.png" alt="">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eligendi consequuntur facilis optio tempora praesentium libero, omnis veritatis fugit quisquam molestias est amet saepe rem eveniet fuga officiis repudiandae sed.
    </p>
    <button id="home">Home</button>
    <button id="sully">sully</button>
    <button id="boo">boo</button>
</body>
</html>