<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sully</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>James P Sullivan</h1>
    <img src="../public/img/kisspng-monsters-inc-scream-arena-james-p-sullivan-mike-monster-inc-5abe018f7b9254.5872796315224016795062.jpg" alt="">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eligendi consequuntur facilis optio tempora praesentium libero, omnis veritatis fugit quisquam molestias est amet saepe rem eveniet fuga officiis repudiandae sed.
    </p>
    <button id="home">Home</button>
    <button id="mike">Mike</button>
    <button id="boo">boo</button>
    <script src="main.js"></script>
</body>
</html>